.second-sec {
    display: flex;
    padding: $padding-for-sections 0px;

    &__con--left {
        padding: $padding-for-divs;
        width: 49.999%;
        max-width: 580px;

        @include forPhones {
            display: none;
        }

        &__img {
            width: 100%;
            opacity: 0.75;

        }
    }

    &__con--right {
        padding: $padding-for-divs;
        width: 49.999%;
        font-size: 18px;
        text-align: center;
        line-height: $section-text_line-height;

        @include forPhones {
            width: 100%;
        }

        &__main-text {
            letter-spacing: $section-text_letter-spacing;
            font-size: 36px;
            margin: 10px 0;
            font-weight: 400;
        }

        &__text {
            letter-spacing: $section-text_letter-spacing;
            margin: 10px 0;
        }

        &__p--first {
            margin: 18px 0;
            text-align: start;

            &__text-in {
                background-color: #f1f1f1;
                padding: 3px 8px;
            }
        }

        &__p--second {
            color: #757575;
            margin: 18px 0;
            text-align: start;

            @include forTablets {
                display: none;
            }

            @include forPhones {
                display: block;
            }
        }
    }

}